:root {
  --main-bg-color: #17181c;
  --black-text-color: #000;
  --turquoise-color: #53d4ca;
  --purple-color: #c1c0fd;
  --copyright-color: #18a095;
  --hover-copyright-color: #148e84;
  --footer-gradient-from: #be27ff;
  --footer-gradient-to: #0602fe;
}

@font-face {
  font-family: "GloriaHallelujah";
  src: url("./assets/fonts/GloriaHallelujahRegular.woff2") format("woff2"),
    url("./assets/fonts/GloriaHallelujahRegular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  color: var(--black-text-color);
  background: var(--main-bg-color);
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 95px;

  background-image: linear-gradient(to left, var(--turquoise-color), var(--purple-color));
}

h1 {
  font-family: "GloriaHallelujah", sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.main {
  min-height: calc(100vh - 190px);
  padding: 20px;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 95px;
  padding: 20px 0;

  font-family: "GloriaHallelujah", sans-serif;
  font-size: 16px;
  background-image: linear-gradient(90deg, var(--turquoise-color), var(--purple-color));
}

.footer__container {
  gap: 30px;
}

.copyright {
  color: var(--copyright-color);
  text-align: center;
}

.copyright a {
  color: var(--copyright-color);
  text-decoration: none;
    
  transition: 0.7s;
}
.copyright a:hover {
  color: var(--hover-copyright-color);
}

.copyright:before {
  content: '©';
}

.github {
  display: flex;
  align-items: center;
  height: 65%;
  color: inherit;
  text-decoration: none;
  margin-right: auto;

  transition: color 0s;
}

.github:hover {
  color: transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(120deg, var(--footer-gradient-from), var(--footer-gradient-to));

  transition: 0.7s;
}

.rss__logo {
  display: block;
  width: 135px;
  height: 50px;
}

.rss__logo .right,
.rss__logo .left {
  transition: 0.7s;
}

.rss__logo:hover .left {
  stop-color: var(--footer-gradient-from);
}

.rss__logo:hover .right {
  stop-color: var(--footer-gradient-to);
} 

@media (max-width: 498px) {
  .footer {
    justify-content: center;
  }

  .github {
    margin-right: 0;
  }
}
