.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filters__group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  min-width: 300px;
  padding: 0 10px;

  border: 3px solid var(--black-decor-color);
  border-radius: 10px;
}

.filters__by-value {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.filters__by-value:last-child {
  margin-top: 0;
}

.color-list {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.color-list__item {
  width: 30px;
  height: 30px;

  border: 1px solid var(--black-decor-color);
  border-radius: 5px;

  list-style: none;
  cursor: pointer;
  transition: 0.4s;
}

.color-list__item:hover {
  transform: scale(1.05);
}

.color-list__item--beige {
  background-color: #f5f5dc;
}

.color-list__item--white {
  background-color: #fff;
}

.color-list__item--black {
  background-color: #000;
}

.color-list__item--red {
  background-color: #ff0000;
}

.color-list__item--graphite {
  background-color: #4b4e53;
}

.color-list__item--silver {
  background-color: #c0c0c0;
}

.color-list__item--active {
  box-shadow: 0 0 10px var(--black-decor-color);
}

.producer-list {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.producer-list__item {
  padding: 5px;
  border: 1px solid var(--black-decor-color);
  border-radius: 5px;

  list-style: none;
  cursor: pointer;
  transition: 0.4s;
}

.producer-list__item:hover {
  transform: scale(1.05);
}

.producer-list__item--active {
  box-shadow: 0 0 10px var(--black-decor-color);
}

.filters__by-value--material {
  align-items: baseline;
}

.material-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.material-list__item {
  padding: 5px;
  border: 1px solid var(--black-decor-color);
  border-radius: 5px;

  list-style: none;
  cursor: pointer;
  transition: 0.4s;
}

.material-list__item:hover {
  transform: scale(1.05);
}

.material-list__item--active {
  box-shadow: 0 0 10px var(--black-decor-color);
}

.favorite__label {
  padding-left: 10px;
}

.favorite__input {
  width: 30px;
  height: 30px;

  cursor: pointer;
  transition: 0.4s;
}

.sort {
  padding: 5px 0;

  border: 2px solid var(--black-decor-color);
  border-radius: 5px;
  cursor: pointer;
}

.sort__item {
  cursor: pointer;
}

.favorite__input:hover {
  transform: scale(1.05);
}

.reset-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}

.reset-btn {
  width: 140px;
  padding: 5px 0;

  border: 2px solid var(--black-decor-color);
  border-radius: 10px;
  background-color: transparent;

  outline: none;
  transition: 0.7s;
}

.reset-btn:hover {
  background-color: var(--hover-decor-color);

  cursor: pointer;
}
