:root {
  --grey-background: #f6f6f6;
  --white-background: #ffffff;
  --card-background: #fafafa;
  --gradient-background: url("../../assets/img/background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

  --white-title: #ffffff;
  --grey-title: #545454;
  --button-text-color: #292929;
  --decoration-color: #f1cdb3;
  --decoration-hover-color: #fddcc4;
  --inactive-color: #cdcdcd;
  --active-text-color: #fafafa;
  --main-text-color: #4c4c4c;
  --paragraph-s-color: #b2b2b2;
  --black-burger: #000000;
  
  --font-arial: "Arial", "Verdana", sans-serif;
  --font-georgia: "Georgia", "Times New Roman", serif;

  --padding: 40px;

  --desktop-width: 1280px;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Regular"), local("Arial-Regular"),
    url("../../assets/fonts/arialRegular.woff2") format("woff2"),
    url("../../assets/fonts/arialRegular.woff") format("woff"),
    url("../../assets/fonts/arialRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: local("Georgia Regular"), local("Georgia-Regular"),
    url("../../assets/fonts/georgiaRegular.woff2") format("woff2"),
    url("../../assets/fonts/georgiaRegular.woff") format("woff"),
    url("../../assets/fonts/georgiaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
  font-size: 10px;
}

.page {
  font-size: 1.5rem;
  font-family: var(--font-arial);
  font-weight: 400; 
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--white-background);
}

.wrapper {
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--padding);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.logo__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  transition: 0.7s;
}

.logo__title {
  margin: 0;
  padding-bottom: 10px;

  font-family: var(--font-georgia);
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  color: var(--grey-title);
  letter-spacing: 0.06em;

  transition: 0.7s;
}

.logo__subtitle {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--button-text-color);
  letter-spacing: 0.1em;
}

.logo:hover .logo__title {
  color: var(--button-text-color);
}

.navigation {
  display: flex;
  column-gap: 36px;
  margin: 0;
  padding: 0px;

  line-height: 160%;
  
  list-style: none;
}

.navigation__link {
  position: relative;

  text-decoration: none;
  color: var(--grey-title);
  
  transition: 0.7s;
}

.navigation__link:hover {
  color: var(--button-text-color);
}

.navigation__link--active {
  color: var(--button-text-color);
  padding-bottom: 4px;
  border-bottom: 3px solid var(--decoration-color);
}

.navigation__link--active:hover {
  color: rgba(41, 41, 41, 0.8);
  border-bottom: 3px solid var(--decoration-hover-color);
}

.burger-menu {
  z-index: 20;
  
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 30px;

  cursor: pointer;
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 8px;

  background-color: var(--black-burger);

  transition: all 0.5s ease-in-out;
}

.line:last-child {
  margin-bottom: 0;
}

.burger-menu:hover .line {
  background-color: var(--button-text-color);
}


.title {
  margin: 0;
  max-width: 310px;
  font-family: var(--font-georgia);
  font-weight: 400;
  line-height: 130%;
  
  color: var(--grey-title);
}

.title--colored {
  color: var(--white-title);
}

.title__h3 {
  font-size: 3.5rem;
  letter-spacing: 0.06em;
}

.title__h3--centered {
  text-align: center;
}

.title__h4 {
  font-size: 2.0rem;
  line-height: 115%;

  letter-spacing: 0.06em;
}


.button {
  padding: 15px 45px;
  border-radius: 100px;
  background-color: transparent;

  color: var(--button-text-color);
  font-family: var(--font-georgia);
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;

  letter-spacing: 0.06em;
  transition: 0.7s;
} 

.button:hover {
  cursor: pointer;
  background-color: var(--decoration-hover-color);
}

.button__link {
  text-decoration: none;
}

.button--colored {
  background-color: var(--decoration-color);
}


.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--grey-background);
}

.our-friends__wrapper {
  flex-direction: column;
  gap: 45px;
}

.our-friends__title {
  max-width: 400px;
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
}

.slider__list {
  padding: 15px 0;
  display: flex;
  column-gap: 39px;
  row-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.slider__item {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background-color: var(--card-background);
  border-radius: 9px;

  cursor: pointer;

  transition: 0.7s;
}

.slider__img {
  border-radius: 9px 9px 0 0;
}

.slider__pet-name {
  margin: 0;
  font-family: var(--font-georgia);
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 2.3rem;
  
  letter-spacing: 0.06em;
}

.button--bordered {
  padding: 13px 43px;
  border: 2px solid var(--decoration-color);
}

.slider__item:hover {
  background-color: var(--white-background);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__item:hover .button--bordered,
.slider__button:hover {
  cursor: pointer;
  border-color: var(--decoration-hover-color);
  background-color: var(--decoration-hover-color);
}

.slider__buttons {
  display: flex;
  gap: 20px;
}

.slider__button {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: transparent;
  border: 2px solid var(--decoration-color);

  transition: 0.7s;
}

.slider__button--disabled {
  border-color: var(--inactive-color);
}

.title__h4--disabled {
  color: var(--inactive-color);
}

.slider__button--disabled:hover {
  border-color: var(--inactive-color);
  cursor: default;
  background-color: transparent;
}

.slider__button--colored {
  background-color: var(--decoration-color);
}

.slider__button--colored:hover {
  background-color: var(--decoration-color);
  cursor: default;
  border-color: var(--decoration-color);
}


.footer {
  padding-top: 40px;
  background: var(--gradient-background);
}

.footer__wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 61px;
}

.footer__contacts {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  gap: 40px;
}

.footer__contacts:first-child {
  width: 279px;
}

.footer__contacts:nth-child(2) {
  width: 300px;
  gap: 33px;
}

.footer__link {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

.icon__contact {
  display: block;
  width: 40px;
  height: 32px;
  fill: var(--decoration-color);
}

.icon__contact--smalled {
  width: 22px;
}

.title__h4--colored {
  color: var(--decoration-color);
}

.footer__link:hover  .title__h4--colored {
  color: var(--decoration-hover-color);
}

.footer__link:hover  .icon__contact {
  fill: var(--decoration-hover-color);
}

.footer__image {
  width: 300px;
}

@media (max-width: 1279px) {
  :root {
    --padding: 30px;
  }

  .our-friends__wrapper,
  .slider {
    gap: 0;
  }

  .our-friends {
    padding-bottom: 76px;
  }

  .our-friends__title {
    margin-bottom: 30px;
  }

  .slider__list {
    margin-bottom: 40px;
    padding: 0;
  }

  .footer__wrapper {
    padding: 0 3.12%;
  }

  .footer {
    padding-top: 3.12%;
  }

  .footer__contacts {
    padding-top: 1.3%;
  }
}

@media (max-width: 1256px) {
  .slider__item:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 1068px) {  
  .footer__wrapper {
    justify-content: center;
    row-gap: 65px;
  }

  .footer {
    padding-top: 30px;
  }

  .footer__wrapper {
    padding: 0 30px;
  }

  .footer__contacts {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    padding-right: 53px;
    padding-left: 3.13%;
  }

  .header__navigation {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .our-friends {
    padding-bottom: 42px;
    padding-top: 42px;
  }

  .our-friends__title,
  .slider__list {
    margin-bottom: 42px;
  }

  .title__h3 {
    max-width: 250px;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.06em;
  }
  
  .our-friends__wrapper {
    padding: 0 3.9%;
  }

  .our-friends__title {
    max-width: 300px;
  }

  .slider__buttons {
    gap: 10px;
  }

  .footer__wrapper {
    padding: 0 3.9%;
    row-gap: 40px;
  }

  .footer__image {
    width: 42.45%;
    max-width: 300px;
    min-width: 260px;
  }
}

@media (max-width: 694px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer__contacts:first-child{
    align-items: center;
  }

  .footer__contacts:nth-child(2) {
    gap: 40px;
  }

  .footer__contacts:nth-child(2) .title__h3{
    margin: 0 auto;
  }
}

@media (max-width: 628px) {
  .slider__item:nth-last-child(-n+5) {
    display: none;
  }

  .slider__list {
    flex-direction: column;
  }
}

@media (max-width: 319px) {
  .footer__wrapper,
  .our-friends__wrapper {
    padding: 0 10px;
  }

  .footer__image {
    width: 86.67%;
    min-width: 86.67%;
  }

  .footer__contacts:first-child {
    width: calc(100% - 20px);
  }
  
  .footer__contacts:nth-child(2) {
    width: calc(100% - 20px);
  }
}