.garage {
  padding: 1.25rem 0;
}

.garage__state-change {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form,
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  align-items: stretch;
}

.container {
  align-items: center;
}

.input {
  border: 0.1rem solid var(--black-color);
  border-radius: 0.5rem;
}

.text-input {
  padding: 0 0.6rem;
}

.color-input {
  padding: 0;
}

.input--disabled,
.input--disabled:hover,
.btn--disabled,
.btn--disabled:hover {
  cursor: default;

  border: 0.1rem solid var(--disabled-color);
  background-color: transparent;
}

.title {
  font-size: 1.6rem;
}

.pagination__title {
  font-size: 1.3rem;
}

.garage__cars {
  display: flex;
  flex-direction: column;
  gap: 0.6rem
}

.garage__car {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.car-race__container {
  display: flex;
  align-items: flex-start;
  height: 6rem;

  background-image: url('../../assets/img/wing.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right 5.6rem top;
  border-bottom: 0.2rem dashed var(--black-color);
}

.engine-btn {
  width: 2rem;
  height: 2rem;

  border: 0.1rem solid var(--black-color);
  border-radius: 0.5rem;
}

.car-icon {
  align-self: flex-end;
  width: 7rem;
  height: 2.6rem;
  margin-right: auto;
}

.pagination {
  display: flex;
  gap: 0.6rem;
  padding-top: 0.6rem;
}
