:root {
  --decor-text-color: #fff;
  --hover-decor-color: #ffe0bf;
  --black-bg-color: #000;
  --black-decor-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px 0;

  background-color: var(--black-bg-color);
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-size: 26px;
}

.logo__icon {
  width: 50px;
  height: 50px;

  transition: 0.7s;
}

.logo:hover .logo__icon {
  fill: var(--hover-decor-color);
}

.logo__link {
  display: block;
  color: var(--decor-text-color);
  text-decoration: none;
  font-size: 28px;

  transition: 0.7s;
}

.logo:hover .logo__link {
  color: var(--hover-decor-color);
}

.shopping-cart {
  display: flex;
  padding: 10px;
  background-color: var(--hover-decor-color);
  border-radius: 10px;
}

.shopping-cart__count--active {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px solid #000;

  font-weight: 800;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  gap: 20px;
}

.main {
  min-height: calc(100vh - 150px);
  padding: 100px 0;
}

.container__main {
 display: flex;
 flex-direction: column;
}

.footer {
  padding: 10px 0;

  background-color: var(--black-bg-color);
  color: var(--decor-text-color);
}

.author {
  display: flex;
  gap: 10px;
}

.github {
  color: var(--decor-text-color);
  text-decoration: none;

  transition: 0.7s;
}

.github:hover {
  color: var(--hover-decor-color);
}

.rss__link {
  display: inline-block;
  width: 100px;
  height: 50px;
}

.icon {
  display: block;
  fill: var(--decor-text-color);

  transition: 0.7s;
  cursor: pointer;
}

.rss-logo__icon {
  width: 100%;
  height: 100%;
}

.rss__link:hover .icon {
  fill: var(--hover-decor-color);
}
