:root {
  --grey-background: #f6f6f6;
  --white-background: #ffffff;
  --card-background: #fafafa;
  --gradient-background: url("../../assets/img/background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

  --white-title: #ffffff;
  --grey-title: #545454;
  --button-text-color: #292929;
  --decoration-color: #f1cdb3;
  --decoration-hover-color: #fddcc4;
  --inactive-color: #cdcdcd;
  --active-text-color: #fafafa;
  --main-text-color: #4c4c4c;
  --paragraph-s-color: #b2b2b2;
  
  --logo-title: 32px;
  --logo-subtitle: 13px;
  --font2: 44px;
  --font3: 35px;
  --font4: 20px;
  --font5: 15px;
  
  --button-font: 17px;
  --paragraph-l: 15px;
  --paragraph-s: 12px;

  --padding: 40px;
}

@font-face {
  font-family: "arialRegular";
  src: url("../../assets/fonts/arialRegular.woff2") format("woff2"),
    url("../../assets/fonts/arialRegular.woff") format("woff"),
    url("../../assets/fonts/arialRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "georgiaRegular";
  src: url("../../assets/fonts/georgiaRegular.woff2") format("woff2"),
    url("../../assets/fonts/georgiaRegular.woff") format("woff"),
    url("../../assets/fonts/georgiaRegular.ttf") format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 var(--padding);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrapper {
  justify-content: space-between;
}

.logo__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.logo__title {
  margin: 0;
  padding-bottom: 10px;

  font-family: 'georgiaRegular', serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--logo-title);
  line-height: 110%;
  color: var(--decoration-color);
  letter-spacing: 0.06em;
}

.logo__subtitle {
  font-family: 'arialRegular', sans-serif;
  font-weight: 400;
  font-size: var(--logo-subtitle);
  line-height: 15px;
  color: var(--white-title);
  letter-spacing: 0.1em;
}

.logo:hover .logo__title {
  color: var(--decoration-hover-color);
}

.navigation {
  display: flex;
  column-gap: 36px;
  margin: 0;
  padding: 0px;

  font-family: 'arialRegular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--paragraph-l);
  line-height: 160%;
  
  list-style: none;
}

.navigation__link {
  position: relative;

  text-decoration: none;
  color: var(--inactive-color);
  
  transition: 0.7s;
}

.navigation__link:hover {
  color: var(--active-text-color);
}

.navigation__link--active {
  color: var(--active-text-color);
  padding-bottom: 4px;
  border-bottom: 3px solid var(--decoration-color);
}

.navigation__link--active:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 3px solid var(--decoration-hover-color);
}


.not-only {
  padding-top: 180px;
  background: var(--gradient-background);
}

.not-only__wrapper {
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 42px;
}

.not-only__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 42px;
  max-width: 460px;
  padding-top: 163px;
}

.title {
  margin: 0;
  max-width: 310px;
  font-family: 'georgiaRegular', serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  
  color: var(--grey-title);
}

.title--colored {
  color: var(--white-title);
}

.title__h2 {
  font-size: 44px;
}

.paragraph {
  margin: 0;
  font-family: 'arialRegular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: var(--main-text-color);
}

.paragraph--colored {
  color: var(--inactive-color);
}

.button {
  padding: 15px 45px;
  border-radius: 100px;
  background-color: transparent;

  color: var(--button-text-color);
  font-family: 'georgiaRegular', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  letter-spacing: 0.06em;
  transition: 0.7s;
} 

.button:hover {
  cursor: pointer;
  background-color: var(--decoration-hover-color);
}

.button__link {
  text-decoration: none;
}

.button--colored {
  background-color: var(--decoration-color);
}


.about,
.our-friends,
.help,
.in-addition {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about__wrapper {
  gap: 120px;
}

.about__content {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  gap: 25px;
}

.title__h3 {
  font-size: 35px;
  letter-spacing: 0.06em;
}

.title__h3--centered {
  text-align: center;
}


.our-friends__wrapper,
.help__wrapper {
  flex-direction: column;
  gap: 60px;
}

.our-friends,
.in-addition {
  background-color: var(--grey-background);
} 

.our-friends__title {
  max-width: 400px;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__list {
  display: flex;
  gap: 90px;
  justify-content: center;
}

.slider__item {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background-color: var(--card-background);
  border-radius: 9px;

  cursor: pointer;

  transition: 0.7s;
}

.slider__img {
  border-radius: 9px 9px 0 0;
}

.slider__pet-name {
  margin: 0;
  font-family: 'georgiaRegular', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  
  letter-spacing: 0.06em;
}

.button--bordered {
  padding: 13px 43px;
  border: 2px solid var(--decoration-color);
}

.slider__item:hover {
  background-color: var(--white-background);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__item:hover .button--bordered, .slider__button:hover {
  cursor: pointer;
  border-color: var(--decoration-hover-color);
  background-color: var(--decoration-hover-color);
}

.slider__button {
  position: absolute;
  top: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: transparent;
  border: 2px solid var(--decoration-color);
  transform: translateY(-50%);

  transition: 0.7s;
}

.slider__button--prev {
  left: 0;
}

.slider__button--next {
  right: 0;
}

.ico__button {
  width: 14px;
  height: 6px;
  display: block;
}

.ico__button--prev {
  background-image: url("../../assets/svg/arrow-prev.svg");
}

.ico__button--next {
  background-image: url("../../assets/svg/arrow-next.svg");
}


.help__list {
  padding: 0 84px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 120px;
  justify-content: center;
  align-items: center;
}

.help__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title__h4 {
  font-size: 20px;
  line-height: 115%;

  letter-spacing: 0.06em;
}

.in-addition__wrapper {
  gap: 30px;
}

.in-addition__content {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.title__h5 {
  font-size: 15px;
  line-height: 110%;
 
  letter-spacing: 0.06em;
}

.credit-card {
  padding: 10px 15px;
  border-radius: 9px;
  background-color: var(--decoration-color);
  transition: 0.7s;
}

.credit-card:hover {
  cursor: pointer;
  background-color: var(--decoration-hover-color);
}

.credit-card__link {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  text-decoration: none;
  color: var(--grey-title);
}

.ico__credit-card {
  background-image: url("../../assets/svg/credit-card.svg");
  height: 23px;
  width: 30px;
  display: inline-block;
}
 
.paragraph__s {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;

  color: var(--paragraph-s-color);
}
